.button {
  background-color: var(--color-primary);
  color: var(--color-primary-text);

  display: inline grid;
  place-content: center;

  border: none;

  &.rectangle {
    border-radius: 0.5rem;
  }

  &.circle {
    border-radius: 999rem;
  }

  &.small {
    block-size: 2.5rem;

    font-size: 1.375rem;
  }

  &.large {
    block-size: 3.25rem;

    font-size: 1.5rem;
  }

  &.same-width-height {
    inline-size: auto;
    aspect-ratio: 1 / 1;
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 4px hsl(243, 100%, 69%);

    outline: none;
  }
}
